@charset "UTF-8";
article, aside, footer, header, main, nav, section {margin-top: 0; margin-bottom: 0}
header {font-family: 'Alex Brush';font-size: 22px; padding: 10px; background-color:darkblue; color:whitesmoke;}
body{text-align: left; background-image: url(redwhiteblue.jpg);}
nav{background-color: steelblue; padding: 7px; margin-top: 2px;}
h4{text-align: center;}
section{color:orchid}